html {
  scroll-behavior: smooth;
}

.view-modules tr { vertical-align: top; }

.view-modules td.views-field-operations a {
  min-width: 10ch;
  margin-top: 0;
}

.view-modules td.name {
  max-width: 32ch;
  overflow-wrap: break-word;
}

.view-modules td.description {
  max-width: 64ch;
}

.view-modules p { margin: 1ex 0; }

.view-modules .install .code {
  max-width: 64ch;
  margin-bottom: 1ex;
  white-space: nowrap;
  overflow-x: scroll;
  font-size: small;
  cursor: pointer;
  background-color: #f0f0f0;
}

.view-modules .install:target::before {
  content: "";
  display: block;
  height: 1ex;
  margin-top: -1ex;
}

.view-modules .install:target .code {
  background-color: highlight;
  padding: 1ex 0;
  margin-bottom: 0;
}
.view-modules .install:target .code::before {
  content: "►";
  color: accentcolortext;
}

.view-modules details {
  cursor: pointer;
  margin-top: 1ex;
}
.view-modules details ol {
  cursor: text;
  margin: 0 0 0 1ch;
  line-height: 1.25;
}

.view-modules details p {
  margin: 1ex 0;
}

.view-modules details code {
  background-color: #f0f0f0;
}

.view-modules td.status {
  min-width: 19ch;
}
