{#
/**
 * @file account.html.twig
 * Default theme implementation to present Account data.
 *
 * This template is used when viewing Account pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 * - title_suffix: Additional output populated by modules.
 *
 * @see template_preprocess_w3account()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('account') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>


